%h1-title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
}
%h2-title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
}

%h3-title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
}

%display-center {
  display: flex;
  justify-content: center;
}
%p {
  font-family: Montserrat, Roboto, Arial, sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
  text-align: center;
  text-justify: inter-character;
  font-size: 1em;
  padding: 20px;
}
