@media screen and (min-width: 280px) {
  .training-cards {
    .resume {
      text-align: center;
      color: $fourthColor;
      line-height: 1.5;
      font-size: 1em;
    }
  }
  .training-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 100%;
      background: $secondaryColor;
      color: $fifthColor;
      margin: 10px auto;
      padding: 10px;
      border: 1px solid $fifthColor;
      border-radius: 10px;
      text-align: center;
    }

    span {
      text-decoration: underline;
      font-size: 1.3em;
    }
  }
}
p {
  @extend %p;
}
// =====================================================================================MEDIA 768px==========================================================================================================
@media screen and (min-width: 768px) {
  .training-cards {
    .resume {
      font-size: 2.5em;
    }
  }
  .training-review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    .card {
      width: 45%;
    }
  }
}
// =====================================================================================MEDIA 1280px==========================================================================================================
@media screen and (min-width: 1280px) {
  .training-cards {
    .resume {
      font-size: 2.5em;
    }

    span {
      font-size: 1.5em;
    }
  }
  main p {
    font-size: 2em;
  }
}

// =====================================================================================MEDIA 1600px==========================================================================================================
@media screen and (min-width: 1600px) {
  .training-cards {
    .resume {
      font-size: 3em;
    }

    span {
      font-size: 2em;
    }
  }
  main p {
    font-size: 2.5em;
  }
}
