// ===========================HEADER==========================================
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Montserrat, Helvetica, sans-serif;
  background: $primaryColor;
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    height: 180px;
    width: 100%;
  }
  nav {
    position: relative;
    width: 100%;
    height: 80px;
    background: $secondaryColor;
    display: flex;
    ul {
      width: 100%;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 10px;
        font-size: 1em;
        a {
          text-decoration: none;
          color: $primaryColor;
        }
      }
    }
  }
  h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 10px 10px;
    color: $fifthColor;
    font-weight: bold;
    line-height: 1.2;
  }
  .subtitle {
    font-size: 1.2em;
    text-align: center;
    margin: 30px 30px;
    font-family: Montserrat, Roboto, Arial, Helvetica, sans-serif;
    color: $fourthColor;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    background: $secondaryColor;
    color: $fifthColor;
    margin-top: 80px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    h3 {
      font-family: Roboto, Montserrat, Arial, sans-serif;
    }
    p {
      font-family: Montserrat, Roboto, Arial, sans-serif;
      letter-spacing: 2px;
      line-height: 1.5;
      text-align: center;
      text-justify: inter-character;
      font-size: 0.8em;
      padding: 20px;
    }
  }
  .img-card {
    position: relative;
    background-position: center;
    top: -40px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
  .card-header {
    font-size: 1.3em;
    font-family: Roboto, Montserrat, Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 390px) {
  img {
    height: 200px;
    width: 100%;
  }
  nav {
    position: relative;
    width: 100%;
    height: 100px;
    background: $secondaryColor;
    display: flex;
    ul {
      width: 100%;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 10px;
        font-size: 1.3em;
        a {
          text-decoration: none;
          color: $primaryColor;
        }
      }
    }
  }
}
