// ===========================HEADER==========================================
body {
  font-family: Roboto, Helvetica, sans-serif;
  background: $primaryColor;
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  img {
    height: 180px;
    width: 100%;
  }
  nav {
    /* navbar fixe et z-index de 1000 exageration ( au dessus de tout le monde  */
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 80px;
    background: $secondaryColor;
    display: flex;
    ul {
      width: 100%;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 10px;
        font-size: 1em;
        a {
          text-decoration: none;
          color: $primaryColor;
        }
      }
    }
  }
}
@media screen and (min-width: 390px) {
  img {
    height: 200px;
    width: 100%;
  }
  nav {
    position: relative;
    width: 100%;
    height: 100px;
    background: $secondaryColor;
    display: flex;
    ul {
      width: 100%;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 10px;
        font-size: 1.3em;
        a {
          text-decoration: none;
          color: $primaryColor;
        }
      }
    }
  }
}
