// ===========================HEADER==========================================
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Montserrat, Helvetica, sans-serif;
  background: $primaryColor;
  font-size: 16px;
}
// =========================================MEDIA 320px=========================

// =========================================HEADER==============================
@media screen and (min-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    height: 180px;
    width: 100%;
  }
  nav {
    position: relative;
    width: 100%;
    height: 80px;
    background: $secondaryColor;
    display: flex;
    ul {
      width: 100%;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 10px;
        font-size: 1em;
        a {
          text-decoration: none;
          color: $primaryColor;
        }
      }
    }
  }
  // =========================================ACCUEIL==============================
  h1 {
    font-family: Roboto, Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    text-align: center;
    margin: 50px 10px;
    color: $fifthColor;
    font-weight: bold;
    line-height: 1;
  }
  .enter {
    color: black;
    width: 150px;
    border: 1px solid black;
  }
  .subtitle {
    font-size: 1.5em;
    text-align: center;
    margin: 50px 10px;
    color: $fourthColor;
    font-family: Montserrat, Roboto, Arial, Helvetica, sans-serif;
    color: $fourthColor;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90%;
    background: $secondaryColor;
    color: $fifthColor;
    margin: 50px 50px;
    border: 1px solid $fifthColor;
    border-radius: 20px;
    text-align: center;

    h3 {
      font-family: Roboto, Montserrat, Arial, sans-serif;
    }
    p {
      font-family: Montserrat, Roboto, Arial, sans-serif;
      letter-spacing: 2px;
      line-height: 1.5;
      text-align: center;
      text-justify: inter-character;
      font-size: 0.8em;
      padding: 20px;
    }
  }

  .img-card {
    position: relative;
    top: -40px;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    filter: brightness(1.5);
  }
  .card-header {
    font-size: 1.3em;
    font-family: Roboto, Montserrat, Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    text-decoration: underline;
  }

  .card-body {
    text-align: center;
    margin: 15px 10px 15px;
    font-size: 1.2em;
  }

  // =========================================FOOTER==============================
  footer {
    display: flex;
    justify-content: center;
    font-family: Montserrat, Roboto, Arial, sans-serif;
    color: $primaryColor;
    .container-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $secondaryColor;
      width: 90%;
      height: auto;
      border-radius: 20px;
      text-align: center;
    }
    h3 {
      font-size: 1.3em;
      margin: 10px auto 20px;
      display: flex;
      justify-content: center;
      text-decoration: underline;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    li {
      margin: 10px;
    }
  }

  .lien-training {
    margin: 20px;
    a {
      font-size: 1.5em;
      text-align: center;
      color: $fifthColor;
    }
  }

  a {
    text-decoration: none;
    color: $primaryColor;
  }
}

// =========================================MEDIA 390px=========================
@media screen and (min-width: 390px) {
  img {
    height: 200px;
    width: 100%;
  }
  nav {
    position: relative;
    width: 100%;
    height: 100px;
    background: $secondaryColor;
    display: flex;
    ul {
      width: 100%;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 10px;
        font-size: 1.3em;
        a {
          text-decoration: none;
          color: $primaryColor;
        }
      }
    }
  }
}
