h2 {
  @extend %h2-title;
  color: $fifthColor;
  font-weight: bold;
}
main {
  background: $primaryColor;
  @extend %display-center;
}
p {
  @extend %p;
}

// =========================================HEADER==============================

// =========================================MEDIA 280px=========================
@media screen and (min-width: 280px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  header img {
    height: auto;
    width: 100%;
  }
  nav {
    position: relative;
    width: 100%;
    height: 50px;
    background: $secondaryColor;
    display: flex;
    ul {
      width: 100%;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        margin: 0 10px;
        font-size: 0.8em;
        a {
          text-decoration: none;
          color: $primaryColor;
        }
      }
    }
  }
}

// =========================================HEADER==============================
// =========================================MEDIA 360px=========================
@media screen and (min-width: 360px) {
  header img {
    height: auto;
  }
  nav {
    height: 70px;
    ul li {
      font-size: 1em;
    }
  }
}
// =========================================MEDIA 500px=========================
@media screen and (min-width: 500px) {
  nav ul li {
    font-size: 1.4em;
  }
}
// =========================================MEDIA 1280px=========================
@media screen and (min-width: 1280px) {
  nav {
    height: 120px;
    ul li {
      font-size: 2.4em;
    }
  }
}

// =========================================MEDIA 1600px=========================
@media screen and (min-width: 1600px) {
  nav ul li {
    font-size: 3em;
  }
}

// =========================================MAIN===================================
@media screen and (min-width: 280px) {
  .container-club {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bg-img {
    width: 90%;
  }
  .bg-img img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 360px) {
  .container-club p {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 500px) {
  .container-club p {
    font-size: 2em;
  }
}
@media screen and (min-width: 780px) {
  .container-club p {
    font-size: 2em;
  }
}
@media screen and (min-width: 1280px) {
  .container-club p {
    font-size: 2.2em;
  }
}
